<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}">
</head>
<body>
    <h1>Библиотека - Список книг</h1>

    <a href="/">На главную</a>
    <br/><br/>

    <!-- Сообщения об успехе/ошибке -->
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <br>
    
    <!-- Форма для удаления -->
    <form th:action="@{/books/delete}" method="post">
        <div class="action-buttons">
            <a th:href="@{/books/add}" class="btn-add">Добавить</a>
            <button type="submit" class="btn-delete">Удалить выбранные</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" onclick="toggleAll(this)"></th>
                    <th>ISBN</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Год издания</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td><input type="checkbox" name="selectedIds" th:value="${book.id}"></td>
                    <!-- <td th:text="${book.id}"></td> -->
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.publishedYear}"></td>
                    <td th:text="${book.quantity}"></td>
                </tr>
            </tbody>
        </table>
    </form>

    <script>
        function toggleAll(source) {
            const checkboxes = document.querySelectorAll('input[name="selectedIds"]');
            checkboxes.forEach(cb => cb.checked = source.checked);
        }
    </script>
</body>
</html>